/* Index - Header */
body {
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(../assets/astronaut.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main {
    text-align: center;
    position: relative;
    top: 10px
}

ul li {
    display:inline-block;
}

ul li a{
    color:white;
    padding: 5px 20px;
    border: 1px solid white transparent;
    transition: 0.6s ease; /*Change color slowly when hoevered over*/
}

ul li a:hover {
    background-color: white;
    color:black
}

ul li.active a { 
    background-color: white;
    color:black
}

/* Index - Main */
.name {
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 50px;
}

.name h1 {
    text-shadow: 5px 5px 5px black;
}

.resume {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 35%;
}

.btn {
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover {
    background-color: white;
    color:black
}

/* Index - Footer */
.footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 10px;
}

/* About me */

/* Contact */
.email {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
    font-size: 30px;
    top: 10%;
}