body {
    background: url(../assets/astronaut.jpg);
    color: white;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
}
ul li {
    display:inline-block;
}

ul li a{
    color:white;
    padding: 5px 20px;
    border: 1px solid white transparent;
    transition: 0.6s ease; /*Change color slowly when hoevered over*/
}

ul li a:hover {
    background-color: white;
    color:black
}

ul li.active a { 
    background-color: white;
    color:black
}

.title {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%-50%);
}

.title h1 {
    color: white;
    font-size: 70px;
}

p {
    background-color: green;
    color: red
}